{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center" class='mt-4'>Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ note.data }}
            <button type="button" class="btn-close" onclick="deleteNote({{ note.id }})" aria-label="Close"></button>
        </li>
    {% endfor %}
</ul>
<form method='POST'>
    <div class="form-floating mt-4">
        <textarea class="form-control" id="note" name='note'></textarea>
    </div>
    <div align='center'>
        <button type='submit' class='btn btn-primary mt-4'>Add Note</button>
    </div>
</form>
{% endblock %}
